body {
    background-color: #94BEE6;
    margin: 0;
}
 /* Endret på Hero med space-around
    Kun align items i hjem
    Lagt .hjem a sammen
    Fjernet padding left på hero
    */
.Hero {
 
    border-bottom: 2px solid black;
    display: flex;
   justify-content: space-around;
}
 
.Hero img{
    display: flex;
 
}
   
.hjem {
    display: flex;
    align-items: flex-end;

}
 
.hjem a {
    font-size: 22px;
    margin-left: 25px;
    color: black;
    text-decoration: none;
}
 
 
.Hero img{width: 150px;}
 
 
.button
{background-color: #94BEE6;}
 
.info {
    text-align: center;
}
 
body {
    background-color: #94BEE6;
    margin: 0;
}
 
.info {
    background-image: url("team.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
    width: 100vw;
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
 
    color: white;
 
    padding: 350px 0;
}
 
.info a {
    color: white;
    background-color: #94BEE6;
 
    padding: 12px 45px;
    border: 1px solid white;
    border-radius: 6px;
 
    text-decoration: none;
}
 
 
.info a {
    color:white
}
 