* {
    margin: 0;
    font-family: quantico, sans-serif;

}

body {
        background-color: #E393C5;
        display: flex;
        flex-direction: column;

    }

.quantico-regular {
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

h1 {
    font-weight: 100;
    font-style: normal;
    color: #447446;
    text-align: center;
    font-size: 67px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

}

.gallery img {
    width: 150px;
    height: 220px;
    object-fit: cover;
    padding: 5px;
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: grayscale(100%);
}

.gallery img:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
}

.footer {
    margin-top: auto;
    font-family: "Quantico", sans-serif;
    color: #447446;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #e3b1d0;
    padding: 10px;
    width: 100%;
}




