*{
    margin: 0;
    font-family: quantico, sans-serif;
    
}


.icon{
    width: 200px;
    float: left;
    height: 70px;
}

body{
    background: #E393C5;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
}


.navn{
    margin-left: 0;

}

.navn p{
    font-size: 20px;

}

.navn h2{
    font-size: 55px;
    font-weight: 100;
    margin-left: 0px;


}

.quantico-regular {
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

.hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    padding: 50px;
    gap: 5px;

}

.hero img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 15px solid white;
    box-shadow: 0px 5px 15px;
    transform: rotate(3deg);
}

.ommeg{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 500px;

}

.footer {
    background-color: #e3b1d0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: auto;
}

.dark-mode{
    background-color: black;
    color:white;
}